body{
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1A1333;
    color: white;
}

nav a{
    text-decoration: none;
    margin-left: 15px;
    color: #8B5CF6;
}

.desc{
    padding: 200px;
    background-image: url(fotoPromocional.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.desc .sobre{
    text-align: left;
    color: white;
}

.mSo{
    text-align: center;
}

.desc_faz{
    margin: 15px;
    display: flex;
    text-align: center;
    gap: 40px;
}

.faz{
    background-color: #E2E8F0;
    padding: 20px;
}

.download{
    padding: 20px;
    justify-content: center;
    display: flex;
}

.download button{
    border: none;
    padding: 10px;
}

footer{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}